.modal{
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    z-index: 999;
}

.innerModal{
    height: 500px;
    width: 300px;
    background-color: aquamarine;
}

.innerModal_header{
    width: 100%;
    height: 60px;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
}